<div class="container">
    <div class="log-out-form">
        <div class="circle-icon">
            <mat-icon color="primary" class="logout-icon">check</mat-icon>
        </div>
        <h2 mat-dialog-title>Se le ha comunicado el equipo de su compra.<br>Recuerde que puede pagar con efectivo o su billetera electrónica favorita contra entrega.</h2>
        <div mat-dialog-actions class="buttons">
            <button mat-button class="log-out-form-button-cancel" (click)="closeDialog()">Volver</button>
        </div>
    </div>
</div>
